

body * {
    border: 0;
    font-family: 'Raleway', sans-serif;

}

nav a {
    color:#fff
}
#quienes, #destacados, #contacto, footer {
    background-color: #000;
}
@media (max-width:576px){
    .icons-section {
    display: none;
}}
